.uppercase {
    text-transform: uppercase;
}

.sep {
    .sep__sep {
        width: 100%;
        height: 1px;
        background-color: darken($shade, 10%);
    }
}

%padded {
    padding: 48px 0;
}
    %padded--half {
        padding: 24px 0;
    }
    
%occupy-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/** Cover Image (Background) */
.cover-image {
    background-size: cover;
    background-position: center;
}

/** Default content padding */
.padded {
    padding: $spacingUnit*2 0;
}
    .padded--double {
        padding: $spacingUnit*4 0;
    }

/** Row gutter tweaks */
.row--gutter-zero {
    padding-left: 0;
    padding-right: 0;
    & > .columns {
        padding-left: 0;
        padding-right: 0;
    }
}

.row--gutter-half {
    padding-left: (30px / 4);
    padding-right: (30px / 4);
    & > .columns {
        padding-left: (30px / 4);
        padding-right: (30px / 4);
    }
}

/** Text alignment helplers */
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $align in (left, right, center, justify) {
      @if $size != 'small' {
        .#{$size}-text-#{$align} {
          text-align: $align;
        }
      }
      @else {
        .text-#{$align} {
          text-align: $align;
        }
      }
    }
  }
}