.cover-image {
    background-size: cover;
    background-position: center;
}

%headline-styles {
    display: inline-block;
    background-color: rgba(white, 0.8);
    color: black;
    // font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 24px;
    padding: 0 20px;

    font-size: 1.5em;
    line-height: 1.2;

    @include breakpoint(medium) {
        padding: 0 100px;
        margin-bottom: 100px;
        font-size: 2.2em;
    }
}

.hero--page {

    background-color: $shade;
    text-align: center;

    padding: 100px 0;

    @include breakpoint(medium) {
        padding: 150px 0;
    }

    @extend .cover-image;

    h1.headline {
        @extend %headline-styles;
        margin-bottom: 0;
    }
}

.hero--home {

    .slide {
        text-align: center;

        padding: 25px 0;
        @include breakpoint(medium) {
            padding: 150px 0;
        }

        @extend .cover-image;


        h1 {
            @extend %headline-styles;
        }

        .button--primary {
            // font-size: 2em;
            // padding: 15 30px;
        }
    }

}

.hero-slider {
    .owl-dots {
        margin-top: -30px !important;
        position: relative;
        z-index: 100;
        bottom: 15px;
        @include breakpoint(small only) {
            display: none;
        }
    }

    .owl-dot {
        span {
            background-color: transparent !important;
            border: 2px solid white;
            width: 14px !important;
            height: 14px !important;
        }
        &.active {
            span {
                background-color: white !important;


            }
        }
    }
}