header.nav {
    // background-color: $shade;

    .left, .right {
        height: $navHeight;
        display: flex;
        align-items: center;
    }

    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

    .nav .nav__logo {
        height: $logoHeight;
    }

    .nav__nav {
        text-align: right;
        li {
            display: inline-block;

            &:last-child a {
                padding-right: 0;
            }

            a {
                display: block;
                padding: 16px;
                color: $dark;
                text-transform: uppercase;
                font-size: 1em;


                &:hover {
                    color: $primary;
                }
            }
        }

        .menu-item-has-children {
            position: relative;

            &:hover .sub-menu {
                opacity: 1;
                margin-top: 0;
                visibility: visible;
                a {
                    transition: .2s ease all;
                }
            }
            .sub-menu {
                transition: .2s ease all;
                opacity: 0;
                margin-top: -5px;
                // visibility: hidden;
                position: absolute;
                top: 60px;
                left: 50%;
                transform: translateX(-50%);
                background-color: white;
                border-radius: 3px;
                z-index: 100;
                box-shadow: 0 1px 3px rgba(black,.4);
                text-align: center;
                padding: 10px 0;
                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    margin-left: -0.5em;
                    top: -10px;
                    left: 50%;
                    box-sizing: border-box;

                    border: 10px solid black;
                    border-color: transparent transparent white white;

                    transform-origin: center;
                    transform: rotate(135deg);

                    box-shadow: -1.5px 1.5px 1.5px 0 rgba(black, 0.1);
                }
                li {
                    min-width: 150px;
                    display: block;
                    text-align: center;
                    a {
                        transition: 0;
                        display: block;
                        padding: 10px 20px;
                        &:hover {
                            background-color: lighten($shade,5%);
                            // box-shadow: 0 0 2px rgba(black,.2);
                        }
                    }
                }
            }
        }

        .menu-item-has-children {

            & > a {
                &:after {
                    content: "\f105";
                    font-family: 'FontAwesome';
                    display: inline-block;
                    margin-left: 10px;
                    transition: .2s ease all;
                }
            }

            &:hover a:after {
                transform: rotate(90deg);
            }
        }

    }

    #animated-hamburger {
        @include createHamburger($width: 35px, $height: 25px, $barHeight: 5px, $barColor: $dark, $duration: .3s, $rotation: 180deg);
    }


    .mobile-nav {
        display: none;

        ul {
            padding: 0;
            margin: 0;

            li {

                display: block;
                text-align: center;

                &:nth-child(odd) a {
                    // background-color: darken($shade,2%);
                }


                a {
                    background-color: $shade;
                    border-top: 1px solid white;
                    display: block;
                    padding: 16px;
                    color: black;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $primary;
                        color: white;
                    }
                }
            }
        }

        .sub-menu {
            display: none;
            li {

                a {
                    background-color: darken($shade,5%);
                    border-left: 5px solid $primary;
                }
            }
        }

        .menu-item-has-children {

            & > a {
                &:after {
                    content: "\f105";
                    font-family: 'FontAwesome';
                    display: inline-block;
                    margin-left: 10px;
                    transition: .2s ease all;
                }

                &.sub-menu-active:after {
                    transform: rotate(90deg);
                }
            }
        }
    }