.site-notification {
    background-color: $primary;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(black,.4);
    p {
        color: white;
        margin: 0 !important;
        // line-height: 1;

        .bigger {
            font-size: 1.125em;
        }
    }
}